@page "/pedido"
@page "/pedido/{pedidoId:int}"

@using Miguel_P1_AP2.Models
@using Miguel_P1_AP2.BLL

@inject IToastService toast

<EditForm Model="pedido">
    <DataAnnotationsValidator/>
    <div class="card">

            <div class="card-header">
                <h3>Registro de Pedidos</h3>
            </div>

            <div class="card-body">
                <form>
                    <div class="form-row align-items-center">
                        <div class="col">
                            <div class="form-group">
                                <label>Pedido ID:</label>
                                <div class="input-group">
                                    <InputNumber @bind-Value="pedido.PedidoId" class="form-control col-4" />
                                    <ValidationMessage For="(() => pedido.PedidoId)"></ValidationMessage>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="card-footer">
                <div class="form-group text-center" display: inline-block>
                    
                </div>
            </div>

        </div>
</EditForm>

@code {

    Pedidos pedido = new Pedidos();
    Articulos articulo = new Articulos();

    [Parameter]
    public int articuloId {get; set;}

    [Parameter]
    public int pedidoId { get; set; }

     protected override void OnInitialized()
    {
        Nuevo();
        Pedidos auxPedido;
        if (pedidoId > 0)
        {
            auxPedido = PedidosBLL.Buscar(pedidoId);
            if (auxPedido != null)
                pedido = auxPedido;
            else
                toast.ShowInfo("No encontrado..");
        }
    }

    private void Nuevo()
    {
        this.pedido = new Pedidos();
    }

    //Articulos



}







}